.acceptedPaymentMethodContainer{
    background-color:  #03051A;
    padding-left: 180px;
    width: 400px;
    padding-top: 10px;
}

.socialNetworksContainer{
    background-color: #03051A;
    margin-left: 5px;
    width: 200px;
}

@media (max-width: 720px){

    .acceptedPaymentMethodContainer{
        margin-left: 30px;
        padding-left:0px;
        max-width:200px;
        padding-left: 0px;
    }

    .socialNetworksContainer{
        padding-left:20px
    }

}