.sliderLayoutContainer--shelf{
    margin-top:100px;
    margin-bottom:20px;
}

.paginationDotsContainer--shelf{
    display:none;
}

.caretIcon--shelf{
    background-color: #1DB8FB;
    border-radius:20px;
    color:white;
    height:20px;
    width:20px;
    padding: 5px;    
}

.sliderLeftArrow--shelf{
    position: absolute;
    margin-bottom: 475px;
    margin-left: 1190px;
}

.sliderRightArrow--shelf{
    position: absolute;
    margin-bottom: 475px;
    margin-right: 42px;

}

@media (max-width: 900px){
    .caretIcon--shelf{
        margin: 0px;
    }

    .sliderLeftArrow--shelf{
        position: absolute;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    
    .sliderRightArrow--shelf{
        position: absolute;
        margin-bottom: 0px;
        margin-right: 0px;
    
    }

}