.flexCol{
    background-color: #06092B;
}

.flexRowContent--menu-row{
    background-color: #03051A;
    padding-left: 25px;
    padding-bottom: 20px;
}

.flexRowContent--newslatter{
    background-color: #03051A;
    margin-right: 5px

}
.flexRowContent--payment-methods{
    background-color: #03051A;
}

.flexRowContent--menu1{
    background-color: #03051A;
    width: 100%;

}

.stretchChildrenWidth{
    padding-bottom: 10px;
}

.flexColChild--filterCol{
    width: 150px;
    margin-left:10px
}

.flexRowContent--orderByAndSwitcher{
    width: 400px;
}

@media (max-width: 720px){

    .flexRowContent--payment-methods{
        background-color: #03051A;
    }

    .flexColChild--payment-methods{
        background-color: #03051A;
    }
}